.submitButton {
    margin-top: 10%;
    margin-bottom: 10%;
    background: #6864FE;
    border: none;
    font-family: 'Montserrat', serif;
    color: white;
    /*font-size: 36px;*/
    cursor: pointer;
}