.messageAreaContainer{
    display: flex;
    flex-direction: column;
    width: 97%;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
    gap: 5px;
    overflow: auto;
}


.messageSpace{
    width: 100%;
}
