.messageAreaContainer{
    display: flex;
    flex-direction: column;
    width: 99%;
    padding: 5px 5px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
    overflow-y: scroll;
}

.messageAreaContainer::-webkit-scrollbar {
    width: 5px;
}

.messageAreaContainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
.messageAreaContainer::-webkit-scrollbar-thumb {
    background: #d09ae3; 
}

.messageAreaContainer::-webkit-scrollbar-thumb:hover {
    background: #926ab1de; 
}

.messageSpace{
    width: 100%;
}
