.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 64px;
    right: 35px;
    display: inline-block;
    width: 35px;
    height: 30px;
    background: url(assets/view_outline.svg) 0 0 no-repeat;
}

.password-control.view {
    background: url('assets/view.svg') 0 0 no-repeat;
}