.chatListContainer {
    display: flex;
    margin: 0px 10px;
    flex-wrap: wrap;
    background-color: white;
    width: 350px;
    min-width: 280px;
    border-radius: 20px;
    flex-direction: column;
    height: 628px;
    padding: 20px 10px;
    gap: 10px;
    box-sizing: border-box;
}

.activeChat {
    background-color: rgba(35, 22, 185, 0.11);
}
