.messageAreaContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
    gap: 5px;
    overflow: auto;
}


.messageSpace{
    /*height: 20%;*/
    width: 90%;
}