.messageWidgetContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    height: 100%;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recordTime {
    position: absolute;
    top: 55px;
    text-align: center;
    width: 100%;
}

.buttons {
    padding: 10px 10px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #d3d1f8 15%, #d8aae8 85%);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.buttons > img {
    width: 100%;
    height: 100%;
}

.sendButton {
    margin-left: 5px;
}

.sendInput {
    height: 80px;
    text-align: left;
    vertical-align: top;
    resize: none;
    flex-grow: 1;
    margin-right: 5px;
    font-size: 17px;
    padding: 5px;
    border: #926fadde 1px solid;
    border-radius: 10px;
}

.messageListContainer {
    height: 628px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 400px;
    position: relative;
    justify-content: center;
    flex: 1;
    margin-right: 12px;
}

.companionStyle {
    display: flex;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid #5d3f68;
}

.inputArea {
    margin: 2px 5px;
    position: relative;
    bottom: 0px;
}

.messagesPlaceholderContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.placeholder {
    color: #867BFF;
    font-weight: 600;
    margin-left: 12px;
    margin-right: 12px;
}

.messageArea {
    display: flex;
    align-items: center;
    width: 100%;
}

.recordButton:hover {
    background-color: #867BFF;
}

.oneChatUser {
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oneChatAvatar {
    width: 50px;
    height: 50px;
    border: #3F2FFF 1px solid;
    border-radius: 50%;
    object-fit: cover;
}
