<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Flex test</title>
    <link rel="stylesheet" href="mystyle.css">
<style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style></head>
<body class="vsc-initialized" style="
    height: 100vh;
    margin: 0;
">

    <div class="container" style="
    height: 100vh;
    /* margin: 16px; */
    width: 100%;
">
        <div class="header" style="
    margin-top: 2px;
">
            <div class="logo">Meetme</div>
            <a class="logout-btn" href="#">Выйти</a>
        </div>

        <div class="main" style="
    margin: 60px 16px 16px;
    /* max-width: 1004px; */
    /* margin: 60px auto 16px; */
">
            <div class="side-bar" style="
    margin-right: 16px;
">
                <div class="profile-info">
                    <img class="avatar" src="img/oleg.png" alt="">
                    <div class="name">Олег, 28</div>
<!--                    <div class="description">tehnopark corp</div>-->
                </div>
                

                <div class="buttons" style="
    margin: auto;
">
                    <a class="btn" href="#">Профиль</a>
                    <a class="btn" href="#">Знакомства</a>
                    <a class="btn" href="#">Сообщения</a>
                </div>
                
            <a class="btn" href="#" style="
    padding: 12px;
    margin-bottom: 8px;
    color: gray;
">Выйти</a></div>
            <div class="content" style="
    /* width: 100%; */
    padding: 26px;
">
                <div class="avatar-side" style="
                                                position: relative;
                                                margin-right: 16px;
                                                /* box-shadow: inset 0px -104px 106px #66666696; */
                                                overflow: hidden;
                                                border-radius: 26px;
                                            ">
                    
                <img class="avatar" src="img/woman.jpeg" alt="" style="
                    position: absolute;
                    width: 110%;
                    height: 110%;
                    opacity: 0.5;
                    filter: blur(9px) brightness(80%);
    /* padding: 16px; */
"><img class="avatar" src="img/woman.jpeg" alt="" style="
    position: absolute;
    object-fit: contain;
    /* padding: 16px; */
"><div class="" style="
    /* background: rebeccapurple; */
    position: absolute;
    /* margin-right: 16px; */
    bottom: 0;
    /* height: 30px; */
    padding: 33px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
">
                    
                <a class="logout-btn" href="#" style="
    /* position: absolute; */
    background: white;
    padding: 10px;
    border-radius: 12px;
    /* bottom: 10px; */
    margin-right: 12px;
">Выйти</a><a class="logout-btn" href="#" style="
    /* position: absolute; */
    background: white;
    padding: 10px;
    border-radius: 12px;
    /* bottom: 10px; */
">Выйти
                </a>
                </div><a class="logout-btn" href="#" style="
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 12px;
    left: 10px;
    margin-right: 12px;
">&lt;</a></div>
                <div class="desk-side">
                    <div class="name">Настя, 26</div>
                    <div class="text">Пойдем вместе в музей?</div>
                </div>
            </div>

        </div>

    </div>


</body></html>