.authorizationContainer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    max-width: 50%;
    background-color: #FFFFFF;
    margin: 1rem auto;
    border-radius: 3%;
}

.authorizationFormElement {
    display: block;
    min-width: 414px;
    min-height: 68px;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 24px;
    border: rgba(195, 162, 203, 1) 1px solid;
}

.authorizationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.authLabel {
    margin-top: 15px;
    display: block;
    font-size: 24px;
    font-weight: 500;
    font-family: "Avenir Next";
}

.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 64px;
    right: 35px;
    display: inline-block;
    width: 35px;
    height: 30px;
    background: url(./view_outline.svg) 0 0 no-repeat;
}

.password-control.view {
    background: url(./view.svg) 0 0 no-repeat;
}

.avatar img{
    width: 90%;
}

.avatar p{
    color: mediumvioletred;
}

.enterButton {
    margin-top: 10%;
    background: #6864FE;
    border: none;
    font-family: "Avenir Next";
    color: white;
    font-size: 36px;
}

.errorText {
    color: mediumvioletred;
}

.inviteText p{
    font-size: 36px;
    font-family: "Avenir Next";
}