@import url(../components/App/pages/lenta/feed.css);
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";
@import "fonts.css";
body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
}
#root {
    background-color: #F0EFFF;
    min-height: 100vh;
}

a {
    all: unset;
    cursor: pointer;
}