body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F0EFFF;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    background-color: #F0EFFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    margin-left: 20px;
}

.header .logout-btn {
    border-radius: 20px;
    background-color: #6864FE;
    padding: 10px 25px ;
    color: white;
    font-weight: 600;
    margin-right: 16px;
}

.header .logout-btn:hover {
    background-color: #5855d7;
}

.main {
    min-width: 928px;
    margin-top: 10px;
    display: flex;
    height: 87%;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.sideBar {
    margin-left: 12px;
    width: 280px;
    min-width: 280px;
    height: 628px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sideBar .profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sideBar .profileInfo .name {
    margin-top: 15px;
    margin-bottom: 5px;
}

.sideBar .profileInfo .desk-side {
    color: gray;
}

.sideBar .buttons {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.sideBar svg {
    width: 12px;
    height: 12px;
}

.icon {
    margin-right: 6px;
}

.sideBar .btn:hover .icon {
    filter: invert(50%) sepia(49%) saturate(7128%) hue-rotate(226deg) brightness(100%) contrast(100%);
}


.profileInfo .avatar {
    margin-top: 60px;
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
}
.sideBar .spacer {
    height: 140px;
}

.sideBar .buttons {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.sideBar .buttons .btn {
    color: black;
    border-radius: 20px;
    padding: 10px 46px;
    font-weight: 600;
    margin-bottom: 2px;
}

.sideBar .buttons .btn:hover {
    color: #6864FE;
    background-color: #F3F2FF;
}

.current {
    background-color: rgba(35, 22, 185, 0.11);
}
