<!DOCTYPE html>
<html lang="en">
<head>
    <link href="Header.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ul class="header">
    <li class="logo">
        <img
                src="logo.svg"
                alt="pgvygv"
        >
    </li>
    <li class="sighup" >
      <a href="./server/pages/Signup.js">
        Create account
      </a>
    </li>
    <li class="login">
    <a href="server/pages/Login.js">
      Login
    </a>
    </li>
  </ul>
</body>
</html>